@keyframes Gradient {
    from{background-position: 0 0;}
    to{background-position: 100% 80%;}
  }
  body {
      background: linear-gradient(-45deg, red, blue, pink, green);
      background-size: 300% 300%;
      background-repeat: no-repeat;
      animation: Gradient 15s ease infinite alternate;
  }

body image{
    margin-left: 7%;
    margin-right: 7%;
}

#hiddenInput{
    display: none;
}

#mainMenuCanvas{
    grid-area: mainMenuCanvas;
}

#mainMenuRightTop{
    grid-area: mainMenuRightTop;

    max-width: 240px;
}

#mainMenuRightBottom{
    grid-area: mainMenuRightBottom;

    max-width: 240px;
}

#mainMenu{
    display: grid;
    grid-template-areas: 
        'mainMenuCanvas mainMenuCanvas mainMenuCanvas mainMenuCanvas mainMenuRightTop'
        'mainMenuCanvas mainMenuCanvas mainMenuCanvas mainMenuCanvas mainMenuRightBottom';

    grid-gap: 20px;
}

form input{
    width: 90%;
}

.option{
    padding: 5px;
    padding-right: 20px;
}

.option input{
    float: right;
}

@media screen and (max-width:1060px) {
    #mainMenu{
        display: grid;
        grid-template-areas: 
            'mainMenuCanvas mainMenuCanvas mainMenuCanvas'
            'mainMenuCanvas mainMenuCanvas mainMenuCanvas'
            'mainMenuRightTop mainMenuRightBottom mainMenuRightBottom'
            'mainMenuRightTop mainMenuRightBottom mainMenuRightBottom';
    
        grid-gap: 20px;
    }
    #mainMenuRightTop{
        width: 240px;
    }
    
    #mainMenuRightBottom{
        float: left;
        width: 360px;
    }
    #mainMenuRightBottom .option{
        width: 350px;
    }
}

@media (max-width:790px) and (min-width:400px) {
    #editedCanvas{
        width: 400px;
        height: 400px;
    }

    #mainMenu{
        display: grid;
        grid-template-areas: 
            'mainMenuCanvas'
            'mainMenuCanvas'
            'mainMenuRightTop'
            'mainMenuRightBottom';
    
        grid-gap: 20px;
    }

    #mainMenuRightTop{
        width: 360px;
    }
    
    #mainMenuRightBottom .option{
        width: 360px;
    }
}