@keyframes Gradient {
    from{background-position: 0 0;}
    to{background-position: 100% 80%;}
  }
  body {
      background: linear-gradient(-45deg, red, blue, pink, green);
      background-size: 300% 300%;
      background-repeat: no-repeat;
      animation: Gradient 15s ease infinite alternate;
  }

body image{
    margin-left: 7%;
    margin-right: 7%;
}


.image{
    text-align: center;
    margin-top: 5px;
}

input,select {
    
    width:100%;
    padding: 5px 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.size{
    float: left;
}

.rotation{
    width:100%;
    text-align: center;
    border: none;
    border-radius: 4px;
}
.right{
    float: right;
}

.center{
    float: left;
    margin-left: 33%;
}

.save{
    width:100%;
    text-align: center;
    border: none;
    border-radius: 4px;
}
.cancel{
    width:100%;
    text-align: center;
    border: none;
    border-radius: 4px;
}

hr{
    border:white;
    border-style: dotted;
}

#hiddenInput{
    display: none;
}

#rightMenu{
    float: right;
    max-width: 350px;
}

#imageTitle{
    text-align: center;
}

#mainImage {
    float: left;
    width: 800px;
    height: auto;
}

#mainImage img{
    border: white;
    border-style: solid;
    max-width: 800px;
    max-height: 800px;
}
